body {
  /*To remove the white border around the webpage which firefox adds*/
  margin: 0;
  padding: 0;
}

.top-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-logo {
  color: #f9faf8; /*for header logo text only*/
  font-size: 24px; /*for header logo text only*/
  font-weight: bold; /*for header logo text only*/
}

.top-links {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

li {
  display: inline;
}

.header {
  height: 400px;
  background-color: #1f2937;
  padding: 0px 90px 0px 90px;
}

.this-website-is-awesome {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.awesome-paragraph {
  margin-top: -20px;
}
.awesome-signup {
  max-width: 50%;
  color: #e5e7eb;
  flex: 1;
}

.header-content {
  display: flex;
  gap: 50px;
}

.placeholder-image {
  display: flex;
  color: #e5e7eb;
  justify-content: center;
  align-items: center;
  background-color: gray;
  flex: 1;
}

.signup-button {
  color: white;
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  padding: 5px 30px 5px 30px;
}

#info-header-text {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 30px 90px 0px 90px;
  text-align: center;
}

.img-box {
  width: 100px;
  height: 100px;
  border: 3px solid #3882f6;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.container-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 50px;
}

.info-content-container {
  display: flex;
  padding: 0px 90px 0px 90px;
  gap: 10px;
}

.random-info-images {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
