body {
  /*To remove the white border around the webpage which firefox adds*/
  margin: 0;
  padding: 0;
}

.top-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-logo {
  color: #f9faf8; /*for header logo text only*/
  font-size: 24px; /*for header logo text only*/
  font-weight: bold; /*for header logo text only*/
}

.top-links {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

li {
  display: inline;
}

.header {
  height: 400px;
  background-color: #1f2937;
  padding: 0px 90px 0px 90px;
}

.this-website-is-awesome {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.header-content {
  display: flex;
  border-color: white;
  border-width: 10px;
}

.awesome-signup {
  max-width: 50%;
  margin-top: -10px;
  color: #e5e7eb;
}

.placeholder-image {
  display: flex;
  color: #e5e7eb;
  justify-content: center;
  align-items: center;
  background-color: gray;
  flex: 1;
}
